<button *ngIf="!isShow" (click)="isShow = !isShow">Thêm từ mới</button>
<div *ngIf="isShow">
  <input placeholder="English" [(ngModel)]="en"><br />
  <input placeholder="Tiếng Việt" [(ngModel)]="vn"><br />
  <button (click)="addWord()">Thêm</button>
</div>
<div *ngFor="let word of arWords" class="word">
  <h4 [ngStyle]="{color: word.memorized? 'green': 'red'}">
    {{ word. en }}
  </h4>
  <p>{{ word. vn }}</p>
  <button (click)="word.memorized = !word.memorized">{{ word.memorized? "Chưa thuộc": "Đã thuộc"}}</button>
</div>